In [2]:
id = int(input("Enter the product id:"))
model = str(input("enter the product model:"))
price = int(input("enter the product price:"))
quantity = int(input("enter the Quantity:"))
id2 = int(input("Enter the product id:"))
model2 = str(input("enter the product model:"))
price2 = int(input("enter the product price:"))
quantity2 = int(input("enter the Quantity:"))

Enter the product id:1
enter the product model:samsung
enter the product price:12000
enter the Quantity:2
Enter the product id:2
enter the product model:Realme
enter the product price:10000
enter the Quantity:6

In [4]:
sales = {1: {id:'id',model:'model',price:'price',quantity:'quantity','amount':price*quantity},
         2: {id2:'id',model2:'model',price2:'price',quantity2:'quantity','amount':price2*quantity2},
          }

In [5]:
sales

{1: {1: 'id',
  12000: 'price',
  2: 'quantity',
  'amount': 24000,
  'samsung': 'model'},
 2: {10000: 'price',
  2: 'id',
  6: 'quantity',
  'Realme': 'model',
  'amount': 60000}}

In [6]:
import json

In [47]:
# adding new items in sales
rec_key = int(input("enter the key"))
id = int(input("Enter the product id:"))
model = str(input("enter the product model:"))
price = int(input("enter the product price:"))
quantity = int(input("enter the Quantity:"))
sales[rec_key] ={'id':id, 'model':model, 'price':price, 'quantity':quantity , 'amount':price * quantity}
fd = open("sales.json",'w')
js = json.dumps(sales)
fd.write(js)
fd.close()
#successfully added 28 items

enter the key30
Enter the product id:30
enter the product model:samsung 7
enter the product price:45000
enter the Quantity:1

In [60]:
fd = open("sales.json",'r')
r= fd.read()
fd.close()

In [48]:
sales

{1: {1: 'id',
  12000: 'price',
  2: 'quantity',
  'amount': 24000,
  'samsung': 'model'},
 2: {10000: 'price',
  2: 'id',
  6: 'quantity',
  'Realme': 'model',
  'amount': 60000},
 3: {'amount': 240000,
  'id': 3,
  'model': 'Vivo',
  'price': 60000,
  'quantity': 4},
 4: {'amount': 35000, 'id': 4, 'model': 'OPP0', 'price': 7000, 'quantity': 5},
 5: {'amount': 21000,
  'id': 5,
  'model': 'Redmi Y2',
  'price': 7000,
  'quantity': 3},
 6: {'amount': 24000, 'id': 6, 'model': 'Pico', 'price': 8000, 'quantity': 3},
 7: {'amount': 180000,
  'id': 7,
  'model': 'Realme 7',
  'price': 60000,
  'quantity': 3},
 8: {'amount': 180000,
  'id': 8,
  'model': 'iPhone X',
  'price': 90000,
  'quantity': 2},
 9: {'amount': 21000,
  'id': 9,
  'model': 'Micromax',
  'price': 7000,
  'quantity': 3},
 10: {'amount': 15000,
  'id': 10,
  'model': 'Nokia',
  'price': 5000,
  'quantity': 3},
 11: {'amount': 180000,
  'id': 11,
  'model': 'Samsung pro7',
  'price': 60000,
  'quantity': 3},
 12: {'amount': 7200,
  'id': 12,
  'model': 'Real mi 8',
  'price': 2400,
  'quantity': 3},
 13: {'amount': 2400,
  'id': 13,
  'model': 'Pico M3',
  'price': 1200,
  'quantity': 2},
 14: {'amount': 120000,
  'id': 14,
  'model': 'Samsung M3',
  'price': 60000,
  'quantity': 2},
 15: {'amount': 40000,
  'id': 15,
  'model': 'Redmi',
  'price': 20000,
  'quantity': 2},
 16: {'amount': 14000,
  'id': 16,
  'model': 'xiomi',
  'price': 7000,
  'quantity': 2},
 17: {'amount': 60000,
  'id': 17,
  'model': 'Iphone 5',
  'price': 30000,
  'quantity': 2},
 18: {'amount': 20000,
  'id': 18,
  'model': 'Redmi 5',
  'price': 10000,
  'quantity': 2},
 19: {'amount': 80000,
  'id': 19,
  'model': 'Samsung S8',
  'price': 80000,
  'quantity': 1},
 20: {'amount': 30000,
  'id': 20,
  'model': 'xiomi note 3',
  'price': 30000,
  'quantity': 1},
 21: {'amount': 80000,
  'id': 21,
  'model': 'vivo pro',
  'price': 40000,
  'quantity': 2},
 22: {'amount': 20000,
  'id': 22,
  'model': 'Real mi 9pro',
  'price': 20000,
  'quantity': 1},
 23: {'amount': 16000,
  'id': 23,
  'model': 'Oppo 3',
  'price': 8000,
  'quantity': 2},
 24: {'amount': 240000,
  'id': 24,
  'model': 'iPhone 6G',
  'price': 120000,
  'quantity': 2},
 25: {'amount': 18000,
  'id': 25,
  'model': 'Redmi 4',
  'price': 3000,
  'quantity': 6},
 26: {'amount': 80000,
  'id': 26,
  'model': 'One Plus note 8',
  'price': 40000,
  'quantity': 2},
 27: {'amount': 30000,
  'id': 27,
  'model': 'One Plus',
  'price': 30000,
  'quantity': 1},
 28: {'amount': 79998,
  'id': 28,
  'model': 'Samsung 5pro',
  'price': 39999,
  'quantity': 2},
 29: {'amount': 68000,
  'id': 29,
  'model': 'Xiomi 8',
  'price': 34000,
  'quantity': 2},
 30: {'amount': 45000,
  'id': 30,
  'model': 'samsung 7',
  'price': 45000,
  'quantity': 1}}

In [49]:
{(len(sales)+1):{id:'id',model:'model',price:'price',quantity:'quantity'}}

{31: {1: 'quantity', 30: 'id', 45000: 'price', 'samsung 7': 'model'}}

In [51]:
import time

In [52]:
time.ctime()

'Sun Sep  5 18:21:36 2021'

In [63]:
# to get the total bill of phones of different brands
id = int(input("Enter the product id:"))
model = str(input("enter the product model:"))
print("The total amount is",sales[1]['amount'])
id = int(input("Enter the product id:"))
model = str(input("enter the product model:"))
print("The total amount is",sales[2]['amount'])
print("The total bill is",sales[1]['amount']+sales[2]['amount'])

Enter the product id:1
enter the product model:samsung
The total amount is 24000
Enter the product id:2
enter the product model:realme
The total amount is 60000
The total bill is 84000